.footer {
  display: none;
  padding: 0 0 80px;

  @include tablet {
    padding-bottom: 40px;
  }

  &__copyright,
  &__info {
    font-weight: 400;
    font-size: 24px;
    color: #fff;
    opacity: 0.3;

    @include tablet {
      font-size: 20px;
    }
  }

  &__info {
    margin-top: 20px;
  }
}
