.first-screen {
  border-bottom: 1px solid #264540;

  & .container {
    max-width: 1480px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 0;

    @include desktop {
      gap: 40px;
    }

    @include laptop {
      gap: 20px;
    }

    @include tablet {
      flex-wrap: wrap;
      gap: 0;
    }
  }

  &__info {
    flex: 1 1 auto;
    padding: 40px;
    background: url(../assets/first-screen-info-bg.svg) center / contain no-repeat;

    @include desktop {
      padding: 40px 0;
    }

    @include tablet {
      flex: 1 1 100%;
      padding: 78px 0 40px;
      background: none;
    }

    &-icon {
      display: flex;
      align-content: inherit;
      justify-content: center;
      margin: 0 0 24px;

      @include tablet {
        margin-bottom: 14px;
      }

      &-image {
        display: block;
        max-width: 100%;
        width: 30px;
        height: auto;

        @include tablet {
          width: 24px;
        }
      }
    }

    &-title {
      max-width: 632px;
      margin: 0 auto 24px;
      font-weight: 540;
      font-size: 112px;
      line-height: 100%;
      text-transform: uppercase;
      text-align: center;
      color: #f0f3f2;

      @include desktop {
        font-size: 90px;
      }

      @include laptop {
        font-size: 72px;
      }

      @include tablet {
        max-width: 360px;
        margin: 0 auto 14px;
        font-size: 52px;
      }
    }

    &-subtitle {
      max-width: 262px;
      margin: 0 auto 64px;
      font-weight: 410;
      font-size: 20px;
      line-height: 140%;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      text-align: center;
      color: #f0f3f2;

      @include tablet {
        margin-bottom: 20px;
        font-size: 18px;
      }
    }

    &-download {
      display: flex;
      align-content: inherit;
      justify-content: center;

      &-button {
        display: inline-block;
        flex: 0 0 auto;
        padding: 10px 12px;
        border: none;
        border-radius: 10px;
        background-color: #5fddc7;
        transition: background-color ease-out 0.2s;
        cursor: pointer;

        &:hover {
          background-color: #f0f3f2;
        }

        &::before {
          content: '';
          display: block;
          width: 130px;
          aspect-ratio: 130 / 33;
          background: url(../assets/appstore.svg) center / contain no-repeat;
        }
      }
    }
  }

  &__phone {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 520px;
    padding: 70px 40px;
    box-sizing: border-box;

    @include desktop {
      flex: 0 0 386px;
      padding: 70px 0;
    }

    @include tablet {
      align-items: flex-start;
      flex: 1 1 100%;
      max-height: 320px;
      padding: 0;
      overflow: hidden;
    }

    &-image {
      display: block;
      max-width: 100%;
      height: auto;

      @include tablet {
        width: 240px;
      }
    }
  }
}
