.how-it-works {
  padding: 80px 0 0;
  border-bottom: 1px solid #264540;
  background: url(../assets/how-it-works-bg.svg) center / 1164px no-repeat;

  @include desktop {
    background-size: contain;
  }

  @include tablet {
    padding-top: 52px;
  }

  &__wrapper {
    display: block;
  }

  &__title {
    margin: 0 0 32px;
    font-weight: 540;
    font-size: 86px;
    line-height: 100%;
    text-transform: uppercase;
    color: #f0f3f2;

    @include desktop {
      font-size: 80px;
    }

    @include laptop {
      font-size: 72px;
    }

    @include tablet {
      margin-bottom: 18px;
      font-size: 52px;
    }
  }

  &__steps {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: stretch;
    gap: 48px;
    margin: 0 0 10px;

    @include tablet {
      gap: 20px;
      margin-bottom: 42px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 100%;
      left: 15px;
      display: block;
      width: calc(50% - 15px + 165px);
      height: 90px;
      border-top: 1px solid rgba(95, 221, 199, 0.3);
      border-right: 1px solid rgba(95, 221, 199, 0.3);
      border-radius: 0 30px 0 0 ;
      transform: translateY(-15px);

      @include tablet {
        width: calc(50% - 15px + 110px);
        height: 120px;
      }

      @include mobile {
        width: calc(50% - 15px + 80px);
      }
    }
  }

  &__step {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    flex: 0 0 224px;
    max-width: 224px;
    gap: 11px;

    @include tablet {
      flex: 0 0 calc(100% / 2 - 20px / 2);
    }

    &-text {
      flex: 1 1 auto;
      font-weight: 410;
      font-size: 20px;
      line-height: 140%;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #f0f3f2;

      @include tablet {
        font-size: 16px;
      }
    }

    &-id {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 30px;
      width: fit-content;
      height: 30px;
      box-sizing: border-box;
      font-weight: 410;
      font-size: 20px;
      line-height: 140%;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      text-align: center;
      color: #5fddc7;
      border: 1px solid rgba(95, 221, 199, 0.3);
      border-radius: 40px;
      background-color: #1a2422;

      @include tablet {
        font-size: 16px;
      }
    }
  }

  &__figure {
    position: relative;
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;

    @include tablet {
      flex: 1 1 100%;
      order: 1;
    }

    &-image {
      display: block;
      max-width: 100%;
      width: 473px;
      height: auto;

      @include tablet {
        width: 320px;
      }

      @include mobile {
        width: 240px;
      }
    }
  }
}
