.keep-journey {
  display: none;

  &__title {
    margin: 0;
    font-weight: 400;
    font-size: 79px;
    color: #f5f5f5;

    @include tablet {
      font-size: 40px;
    }
  }

  &__email {
    &-link {
      font-weight: 400;
      font-size: 79px;
      color: #78f7a8;

      @include tablet {
        font-size: 40px;
      }
    }
  }
}
